.container{
    width: 450px;
    height: 400px;
    border: 1px solid black;
}

.fullName{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;

}

.userData{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.button{
    position: absolute;
    bottom: 550px;
    left: 150px;
    width: 150px;
    height: 40px;
}

.authorization{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 35px;
}